:root {
  // fonts
  --ff-main: "Lato", sans-serif;
  --ff-title: "Open Sans", sans-serif;

  // font sizes
  --fz-14: 0.875rem;
  --fz-16: 1rem;
  --fz-18: 1.1rem;
  --fz-24: 1.5rem;
  --fz-32: 2rem;
  --fz-72: 4.5rem;
  --fz-80: 5rem;
  --fz-104: 6.5rem;

  //   Colors
  --white: #fff9fb;
  --black: #222222;
  --black-light: #444444;
  --orange-primary: #ff521b;
  --orange-light: #ff6131;
  --blue-primary: #1bc8ff;
}
