main {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fz-18);
}

h1 {
  margin-bottom: 16px;
}

.password-container {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-bottom: 1px solid var(--black);
  width: 100%;
  padding: 16px 32px;
}

.password {
  margin-bottom: 0;
  text-align: center;
  flex: 1;
}

.copy-btn {
  border: 1px solid var(--black);
  background: none;
}

.password-generator-form {
  width: 100%;
  padding: 32px;
  .input-group {
    margin-bottom: 16px;

    &:first-of-type {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 8px;
      }
    }
  }

  label[type="range"] {
    width: 100%;
  }

  input {
    background: var(--primary);
  }

  .submit-btn {
    margin-top: 40px;
    img {
      width: 32px;
      margin-left: 16px;
    }

    &:hover img {
      animation: shake 0.2s;
    }
  }
}

@keyframes shake {
  25% {
    transform: translateX(3%);
  }
  33% {
    transform: translateX(-3%);
  }
  40% {
    transform: translateX(3%);
  }
  61% {
    transform: translateX(-3%);
  }
  85% {
    transform: translateX(3%);
  }
}
